@font-face
{
	font-family: themillion;
	src:url(BebasNeue-Regular.ttf);
}
#fondo
{
	background-color: #000000;
	color: #ffffff;
	font-family:themillion;
	font-size: 25px;
}
#navegacion a, .main-footer a
{
	color: white;
}
.page-link
{
	color: black;
}
#DataTables_Table_0_wrapper a
{
	color: black;
}
.conte
{
	margin-bottom: 5%;
	margin-top: 5%;
}
#cabecera
{
	background: linear-gradient(black,black);
}
#cabecera .container
{
	margin-left: 10%;
}
#cabecera .container a
{
	color: #01cc00;
}
#cabecera .container a:hover
{
	color: white;
}
#cabecera .container h3
{
	font-size: 35px;
}
#cabecera .container #apuesta
{
	font-size: 52px;
	color: #01cc00 ;
}
#cabecera .container #botonaccion
{
	margin: 2% 0 0 7%;
}
#cabecera .container #botonaccion a
{
    padding: 5px 40px 1px 40px;
    border-radius: 10px;
    border-width: 4px;
    font-size: 26px;
}
#cabecera .container #botonaccion button
{
    padding: 5px 40px 1px 40px;
    border-radius: 10px;
    border-width: 4px;
    font-size: 26px;
}
#navegacion
{
	background-color: #01cc00;
}
#navegacion a
{
	font-size: 30px;
	font-family:themillion;
	text-decoration: none;
    background-image: linear-gradient(#ffbe01, #ffbe01);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
#navegacion a:hover, a:focus {
    background-size: 100% 2px;
}
#navegacion  li .active{
   	text-decoration: none;
    background-image: linear-gradient(#ffbe01, #ffbe01);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
}
#contenido
{
	height: 545px;
	background: url(../img/FONDO.jpg) center;
	background-repeat: no-repeat;
	background-size: cover;
}
#contenido #tarjeta
{
	background-color: #736e6e52;
}
#carouselhome
{
	height: 350px;
}
#carouselhome .carousel-item
{
	margin-top: 125px;
}
div #registro input
{
	width: 150%;
}
div #registrob
{
	margin-left: 12px
}
#contenido #tarjeta div button#recarga
{
	padding: 2%;
    font-size: 17px;
    border-radius: 10%;
    margin: 2%;
}
#contenido #tarjeta div button#balance
{
	width: 80%;
    color: white;
    font-size: 31px;
    border-radius: 14%;
}
#contenido #tarjeta div button#balanceb
{
	/*width: 80%;*/
    color: white;
    font-size: 23px;
    border-radius: 14%;
}
#contenido #tarjeta div button#retiro
{
	padding: 2%;
    font-size: 17px;
    border-radius: 10%;
    margin-top: 11%;
    background-color: #bd1626;
}
button.pais 
{
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 30px;    
    background-color: #ffffff00;
    border: none;
    color: white;
}
.box-header-c {
    color: #ffffff;
    display: block;
    padding: 10px;
    position: relative;
    background-color: green;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.box-c {
	font-size: 15px;
	position: relative;
	border-radius: 16px;
	background-color: green;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-footer-c {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	padding: 10px;
	background-color: green;
}
.box-body-c {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	position: relative;
	overflow-x: hidden;
	padding: 0;
	background-color: green;
}
.social {
position: absolute; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
right: 0; /* Establecemos la barra en la derecha */
top: 0px; /* Bajamos la barra 200px de arriba a abajo */
z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
	list-style: none;
}

.social ul li a {
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 8px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {background: #00abf0;}
.social ul li .icon-googleplus {background: #d95232;}
.social ul li .icon-pinterest {background: #ae181f;}
.social ul li .icon-mail {background: #666666;}

.social ul li a:hover {
	background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
@media (max-width: 1200px)
{
	.carousel-item img
	{
		margin-left: 12%; width:500px; height:300px
	}
}
@media (min-width: 1200px)
{
	.carousel-item img
	{
		margin-left: 5%; width:1000px; height:500px
	}
}