/* =================================
------------------------------------
  Game Warrior Template
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*---------------------------*/
/* Template default CSS
/*---------------------------*/

html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	color: #2E2963;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #878787;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.text-orange {
	color: #ff914f !important;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	text-align: center;
	margin-bottom: 75px;
}

.section-title h2 {
	padding-top: 10px;
	font-size: 36px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: top center;
}

.spad {
	padding-top: 97px;
	padding-bottom: 97px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.rating i {
	color: #fbb710;
}

.rating .is-fade {
	color: #e0e3e4;
}

/*---------------------
  Commom elements
-----------------------*/

/* buttons */
.site-btn {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	color: #2E2963;
	padding: 16px 30px;
	min-width: 153px;
	border-radius: 50px;
	font-weight: 500;
	border: none;
	background: #F5B12E;
	cursor: pointer;
}

.site-btn.btn-sm {
	padding: 10px 30px;
	min-width: 163px;
}

.site-btn:hover {
	color: #2E2963;
}

.cata {
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	padding: 6px 25px;
}

.cata.new {
	background: #ED4F33;
}

.cata.strategy {
	background: #2e2963;
}

.cata.racing {
	background: #ADD2D8;
}

.cata.adventure {
	background: #151e59;
}

/* Preloder */
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.toCenter {
	align-items: center;
	display: flex;
	justify-content: center;
}

/*------------------
  Header section
---------------------*/

.header-section {
	background: rgb(23 68 125 / 80%);
	clear: both;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1;
}

.site-logo {
	display: inline-block;
	float: left;
	padding-top: 12px;
}

.user-panel {
	float: right;
	font-weight: 500;
	padding: 10px 20px;
	border-radius: 30px;
}

.user-panel .iniciar,
.user-panel .registrar {
	background: #ff914f;
	color: #fff !important;
	cursor: pointer;
	padding: .5rem;
}

.user-panel .iniciar {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	padding-left: 1.5rem;
}

.user-panel .registrar {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	padding-right: 1.5rem;
}

.user-panel-min {
	float: right;
	font-weight: 500;
	padding: 0px 3px;
	border-radius: 30px;
	display:none;
}

.user-panel-min .iniciar,
.user-panel-min .registrar {
	background: #ff914f;
	color: #fff !important;
	cursor: pointer;
	padding: .5rem;
}

.user-panel-min .iniciar {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	padding-left: 1.5rem;
}

.user-panel-min .registrar {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	padding-right: 1.5rem;
}

.user-panel-min a {
	font-size: 14px;
	color: #2E2963;
}

.user-panel-ul {
	background: #ff914f;
	border-radius: 30px;
	float: right;
	font-weight: 500;
	padding: 2px 14px;
}

.user-panel-ul a {
	font-size: 14px;
	color: #2E2963;
}

.user-panel-money {
	float: right;
	font-weight: 500;
	background: #4eae60;
	padding: 0px 14px;
	border-radius: 6px;
}

.user-panel a {
	font-size: 14px;
	color: #2E2963;
}

.user-panel-moneda {
	float: right;
	font-weight: 500;
	background: #ed4f33;
	padding: 0px 14px;
	border-radius: 6px;
	margin-left: 5px
}

.user-panel-moneda a {
	font-size: 14px;
	color: #2E2963;
}

.user-panel-perfil {
	float: right;
	font-weight: 500;
	background: #2e2963;
	padding: 0px 14px;
	border-radius: 30px;
}

.user-panel-perfil a {
	font-size: 14px;
	color: #2E2963;
}

.main-menu {
	float: right;
	margin-right: -3px;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 35px;
	font-weight: 500;
	padding: 10px 5px;
}

.main-menu ul li a:hover {
	color: #F5B12E;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}

/*------------------
  Home Section
---------------------*/

.home-section {
}
.home-section::-webkit-scrollbar {
    display: none;
}

.weeklyN1 {
    background: rgb(2 17 68 / 80%);
    border: 2px solid #000;
    max-width: 650px !important;
    min-height: 200px;
    position: relative;
}

.bsr_img {
	left: -73px;
    position: absolute;
    top: -39px;
    width: 500px;
}

.mt-cspdn {
	margin-top: 47.19px
}

.weetex {
	font-size: 1.2rem;
	font-weight: bolder;
	text-transform: uppercase;
}

.weewor {
	font-size: 1.4rem;
	font-family: monospace;
}
.weewor span {
	font-size: 1.65rem;
}

.pmt-hsss {
	margin-top: 90px;
}

.place1-profile-photo {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.wc-img {
    bottom: -63px;
    right: -126px;
    position: absolute;
    transform: rotate(25deg);
	width: 200px;
}

.ccc-img {
	align-items: center;
	background-image: url(../img/cards-chips-coins.png);
	background-size: 100% 100%;
	display: flex;
	height: 242px;
	justify-content: center;
	width: 340px;
}
.ccc-img p {
	font-family: sans-serif;
	font-size: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	-webkit-text-stroke: 1px #ff914f;
	-webkit-text-fill-color: #000000;
}

.top10winners {
	background: transparent;
	border: none;
	float: right;
	width: 170px;
}
.top10winners .card-header {
	background: #ff914f;
	border-radius: 30px;
	padding: 5px 0 0 0;
	z-index: 1;
}
.top10winners .card-header h5 {
	color: #000;
	font-size: 14px;
	font-weight: 900;
}
.top10winners .card-body {
	background: #318b43;
	padding: 2rem 0.75rem 0.5rem;
	position: relative;
	top: -20px;
}

.top10winners .card-body li {
	color: #000000;
	display: flex;
	font-size: 16px;
	font-weight: 600;
	height: 18px;
}

.wos-15 {
	width: 15px;
}

.tw10Border {
  	background:linear-gradient(45deg,#ffffff,#6e7c79,#ffffff,#6e7c79) border-box;
    border-radius: 15px;
  	border: 2px solid transparent;
    height: 244px;
    mask-composite: exclude;
    position: absolute;
    top: -5px;
    width: 100%;
  	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  	-webkit-mask-composite: xor;
    z-index: 1;
}

/*------------------
  Hero Section
---------------------*/

.hero-slider .hs-item {
	height: 865px;
	display: table;
	width: 100%;
}

.hero-slider .hs-text {
	display: table-cell;
	vertical-align: middle;
}

.hero-slider .hs-text h2 {
	color: #fff;
	font-weight: 400;
	font-size: 60px;
	margin-bottom: 30px;
	position: relative;
	top: -80px;
	opacity: 0;
}

.hero-slider .hs-text h2 span {
	color: #F5B12E;
}

.hero-slider .hs-text p {
	color: #fff;
	margin-bottom: 30px;
	position: relative;
	position: relative;
	top: -90px;
	opacity: 0;
}

.hero-slider .hs-text .site-btn {
	position: relative;
	top: -100px;
	opacity: 0;
}

.hero-slider .owl-item.active .hs-item h2,
.hero-slider .owl-item.active .hs-item p,
.hero-slider .owl-item.active .hs-item .site-btn {
	top: 0;
	opacity: 1;
}

.hero-slider .owl-item.active .hs-item h2 {
	-webkit-transition: all 0.5s ease 1s;
	-o-transition: all 0.5s ease 1s;
	transition: all 0.5s ease 1s;
}

.hero-slider .owl-item.active .hs-item p {
	-webkit-transition: all 0.5s ease 0.8s;
	-o-transition: all 0.5s ease 0.8s;
	transition: all 0.5s ease 0.8s;
}

.hero-slider .owl-item.active .hs-item .site-btn {
	-webkit-transition: all 0.5s ease 0.6s;
	-o-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.hero-slider .owl-dots {
	position: relative;
	max-width: 1146px;
	margin: -33px auto 0;
	top: -67px;
	z-index: 5;
}

.hero-slider .owl-dots .owl-dot {
	display: inline-block;
	margin-right: 13px;
	width: 33px;
	height: 33px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	padding-top: 7px;
	border-radius: 40px;
	background: #dbe2ec;
}

.hero-slider .owl-dots .owl-dot.active {
	background: #F5B12E;
}

/*---------------------
  Latest News section
-----------------------*/

.latest-news-section {
	overflow: hidden;
	display: block;
	clear: both;
	background: #2E2963;
	padding: 24px 0;
	position: relative;
}

.ln-title {
	position: absolute;
	height: 100%;
	width: 29%;
	left: 0;
	top: 0;
	text-align: right;
	padding-top: 24px;
	padding-right: 66px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	background: #F5B12E;
	z-index: 1;
}

.news-ticker {
	width: 71%;
	float: right;
	overflow: hidden;
	display: inline-block;
}

.news-ticker-contant .nt-item {
	margin-right: 35px;
	color: #fff;
	display: inline-block;
}

.news-ticker-contant .nt-item span {
	margin-right: 35px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	padding: 4px 20px;
}

.news-ticker-contant .nt-item span.new {
	background: #ED4F33;
}

.news-ticker-contant .nt-item span.strategy {
	background: #4eae60;
}

.news-ticker-contant .nt-item span.racing {
	background: #ADD2D8;
}

/*------------------
  Feature Section
---------------------*/

.feature-item {
	height: 415px;
	position: relative;
}

.feature-item:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: .65;
}

.feature-item .cata {
	position: relative;
	margin-top: 28px;
	margin-left: 29px;
	z-index: 3;
}

.feature-item .fi-content {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 0 26px 24px;
	z-index: 2;
}

.feature-item .fi-content h5 {
	margin-bottom: 18px;
}

.feature-item .fi-content .fi-comment {
	font-size: 12px;
	opacity: .54;
}

/*----------------------
  Recent Game Section
------------------------*/

.recent-game-section {
	background-color: #eef2f6;
	border-top: 1px solid #d6dee7;
	border-bottom: 1px solid #d6dee7;
}

.recent-game-item .rgi-thumb {
	height: 350px;
	padding: 25px 28px;
}

.recent-game-item .rgi-content {
	padding: 34px 22px 20px;
	border-top: none;
	position: relative;
}

.recent-game-item .rgi-content h5 {
	margin-bottom: 20px;
	line-height: 1.5;
}

.recent-game-item .rgi-content .comment {
	font-size: 12px;
	color: #737373;
}

.recent-game-item .rgi-extra {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 70px;
}

.recent-game-item .rgi-extra .rgi-star,
.recent-game-item .rgi-extra .rgi-heart {
	height: 35px;
	width: 35px;
	float: left;
	display: block;
	padding: 6px 8px 0;
}

.recent-game-item .rgi-extra .rgi-star {
	background: #F5B12E;
}

.recent-game-item .rgi-extra .rgi-heart {
	background: #ED4F33;
}

/*----------------------
  Tournaments Section
------------------------*/

.tournaments-section {
}

.tournament-title {
	display: inline-block;
	padding: 7px 25px;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	background: #fb6e10;
}

.tournament-item {
	background: #2E2963;
}

.tournament-item .ti-notic {
	display: inline-block;
	padding: 8px 21px;
	font-size: 12px;
	font-weight: 700;
	color: #2E2963;
	text-transform: uppercase;
	background: #F5B12E;
}

.tournament-item .ti-content {
	padding: 38px 24px;
	overflow: hidden;
}

.tournament-item .ti-thumb {
	width: 168px;
	height: 178px;
	float: left;
}

.tournament-item .ti-text {
	padding-left: 195px;
}

.tournament-item .ti-text h4 {
	color: #F5B12E;
	margin-bottom: 20px;
}

.tournament-item .ti-text ul {
	list-style: none;
	margin-bottom: 20px;
}

.tournament-item .ti-text ul li {
	color: #fff;
	font-size: 12px;
	margin-bottom: 6px;
}

.tournament-item .ti-text ul li span {
	color: #9a9a9a;
}

.tournament-item .ti-text p {
	font-size: 12px;
	margin-bottom: 0;
}

.tournament-item .ti-text p span {
	font-weight: 500;
	color: #F5B12E;
}

/*----------------------
  Review Section
------------------------*/

.review-section {
	background-position: right top;
}

.review-item .review-cover {
	position: relative;
	margin-bottom: 30px;
	height: 345px;
}

.review-item .review-cover .score {
	position: absolute;
	width: 54px;
	height: 54px;
	top: -27px;
	left: 26px;
	padding-top: 15px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	z-index: 1;
}

.review-item .review-cover .score.yellow {
	background: #F5B12E;
}

.review-item .review-cover .score.purple {
	background: #ADD2D8;
}

.review-item .review-cover .score.pink {
	background: #ff20ae;
}

.review-item .review-cover .score.green {
	background: #4eae60;
}

.review-item .review-text {
	text-align: center;
}

.review-item .review-text h5 {
	margin-bottom: 20px;
}

.review-item .review-text p {
	margin-bottom: 0;
}

.review-item .rating {
	margin-bottom: 20px;
}

.review-item .rating i {
	font-size: 12px;
}

/*----------------------
  Footer top Section
------------------------*/

.footer-top-section {
	background-image: url("../img/pattern.png");
	background-repeat: repeat;
	padding: 72px 0;
}

.footer-top-section .container {
	position: relative;
}

.footer-top-bg {
	position: absolute;
	left: -30px;
	bottom: -85px;
	z-index: 2;
}

.footer-logo img {
	margin-bottom: 35px;
}

.footer-widget {
	padding: 40px 30px 7px;
	background: #2E2963;
	border: 1px solid #4a4a4a;
}

.footer-widget .fw-title {
	color: #fff;
	margin-bottom: 40px;
}

.latest-blog .lb-item {
	margin-bottom: 23px;
	overflow: hidden;
}

.latest-blog .lb-item .lb-thumb {
	width: 97px;
	height: 97px;
	float: left;
}

.latest-blog .lb-item .lb-content {
	padding-left: 110px;
}

.latest-blog .lb-item .lb-content .lb-date {
	font-size: 12px;
	color: #F5B12E;
	margin-bottom: 8px;
}

.latest-blog .lb-item .lb-content p {
	font-size: 12px;
	margin-bottom: 5px;
	color: #d3d3d3;
}

.latest-blog .lb-item .lb-content .lb-author {
	font-size: 12px;
	color: #d3d3d3;
	opacity: 0.45;
}

.top-comment {
	overflow: hidden;
}

.top-comment .tc-item {
	margin-bottom: 23px;
	overflow: hidden;
}

.top-comment .tc-item .tc-thumb {
	width: 63px;
	height: 63px;
	border-radius: 50%;
	float: left;
}

.top-comment .tc-item .tc-content {
	padding-left: 100px;
}

.top-comment .tc-item .tc-content p {
	font-size: 12px;
	color: #d3d3d3;
	margin-bottom: 5px;
}

.top-comment .tc-item .tc-content p a {
	color: #ED4F33;
}

.top-comment .tc-item .tc-content p span {
	color: #7a7a7a;
}

.top-comment .tc-item .tc-content .tc-date {
	font-size: 12px;
	color: #F5B12E;
}

/*----------------------
  Footer Section
------------------------*/

.footer-section {
	background: rgb(23 68 125 / 80%);
	overflow: hidden;
    width: 100vw;
}

.footer-menu {
	list-style: none;
	float: right;
}

.footer-menu li {
	display: inline;
}

.footer-menu li a {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #aeaeae;
	margin-left: 30px;
}

.copyright {
	color: #aeaeae;
	float: left;
	font-weight: 500;
	margin-bottom: 0;
	padding: 0.3rem;
}

/*------------------
  Other Pages
--------------------
====================*/

.page-info-section {
	height: 499px;
	position: relative;
}

.page-info-section .pi-content {
	position: absolute;
	width: 100%;
	bottom: 65px;
	left: 0;
	z-index: 2;
}

.page-info-section .pi-content h2 {
	font-size: 60px;
	margin-bottom: 25px;
	font-weight: 400;
}

.site-pagination {
	padding-top: 50px;
}

.site-pagination a,
.site-pagination span {
	width: 33px;
	height: 33px;
	font-size: 14px;
	font-weight: 500;
	padding-top: 7px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	color: #2E2963;
	margin-right: 10px;
}

.site-pagination .active {
	background: #F5B12E;
}

.site-pagination.sp-style-2 a,
.site-pagination.sp-style-2 span {
	background: #e5e5e5;
}

.site-pagination.sp-style-2 .active {
	background: #F5B12E;
}

.widget-item {
	margin-bottom: 73px;
}

.widget-item:last-child {
	margin-bottom: 0;
}

.widget-item .widget-title {
	margin-bottom: 40px;
}

.widget-item .latest-blog .lb-item .lb-content p,
.widget-item .top-comment .tc-item .tc-content p {
	color: #2E2963;
}

.widget-item .latest-blog .lb-item .lb-content .lb-author {
	color: #737373;
}

.widget-item .top-comment .tc-item .tc-content {
	padding-right: 20px;
}

.widget-item .review-item {
	background: #eff2f5;
}

.widget-item .review-item .review-text {
	padding: 0 35px 20px;
}

.search-widget {
	position: relative;
}

.search-widget input {
	width: 100%;
	height: 41px;
	border: 1px solid #d6dee7;
	padding-left: 22px;
	padding-right: 45px;
	font-size: 12px;
}

.search-widget button {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background: none;
	border: none;
	padding-right: 15px;
	color: #878787;
	cursor: pointer;
}

.bg-img {
	position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
	z-index: -1;
}

.Bnom {
    color: #fff;
	display: flex;
    font-family: initial;
    font-size: 24px;
    justify-content: space-around;
    letter-spacing: 1.5px;
}
.Buni {
	background: green;
    border: 1px solid #007200;
    border-radius: 15px;
    font-size: 28px;
    font-weight: 600;
    padding: 0 1rem;
}
.Bpre{
	background: #2f5677 !important;
    border-radius: 15px;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 100;
    padding: 0 3rem !important;
}
.Bcan {
	color: #efe6e6;
    font-size: 30px;
    font-family: serif;
    line-height: 1;
    margin-bottom: 0.7rem !important;
    -webkit-text-stroke: 1.5px #b90606;
}
.Bsim {
	font-size: 42px;
}

.veleda {
	left: -30px;
	top: -50px;
	position: absolute;
}

.bolbin {
	color: #801823 !important;
    background-image: url(../img/bolita.jpg);
    background-size: 100%;
    height: 64px !important;
    left: unset!important;
	padding: 0!important;
    right: 26px;
    width: 64px!important;
}

.numtim {
	background: #fff;
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.review-item.sala.card {
	max-width: 350px;
}

.Trec {
	font-family: 'Material-Design-Iconic-Font';
    font-size: 3rem;
    font-weight: 600;
    -webkit-text-fill-color: #00000e;
    -webkit-text-stroke: 1px #f2e2f9;
}

.greenc {
	background: #46be5c;
    border: 2px solid #21616d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.greenc .card-header {
	align-items: center;
    background: #017f36;
    border-bottom: 2px solid #d3a45c;
    border-radius: 7px;
    color: #001500;
    display: flex;
    font-family: 'Material-Design-Iconic-Font';
    font-size: 20px;
    font-weight: 900;
    min-height: 78px;
    padding: 0.5rem;
    text-transform: uppercase;
}
.greenc .pasos {
    float: left;
    font-family: cursive;
    font-size: 50px;
    font-weight: 900;
	-webkit-text-fill-color: #5d17f3;
    -webkit-text-stroke: 4px;
    width: 10%;
}
.greenc .Ldat {
	float: right;
	width: 80%;
}

.Brec {
    bottom: -12px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
}
.Brec .btn {
    background: #ff924f;
    border-radius: 30px;
    font-weight: 600;
    padding: 0 2rem;
}

.redt {
	background: rgb(171 25 25 / 90%);
    border: none;
    border-radius: 20px;
    color: #fef2e1;
    font-size: 13px;
    margin: auto;
    width: 250px;
}
.redt .card-header {
	background: #ff924d;
    border: none;
    border-radius: 30px;
    color: #190000;
    font-family: 'Material-Design-Iconic-Font';
    font-size: 20px;
    font-weight: 900;
    margin-top: 3px;
    text-transform: uppercase;
    width: fit-content;
}
.redt .card-body {
	padding-left: 30px;
}
.redt ul li {
	list-style-type: disc;
	margin-bottom: 0.2rem;
}

.Tsha {
	box-shadow: rgb(255 235 235 / 14%) -20px 20px 0px 0px;
}

.transactions .dataTables_wrapper {	
	background: rgb(171 25 25 / 90%);
    border: none;
    border-radius: 20px;
    color: #fef2e1;
    font-size: 13px;
    margin: auto;
	padding: 1rem;
}
.transactions .table {
	width: 100%;
}
.transactions .custom-select {
	background: #017f36;
    color: #fff;
    font-size: .75rem;
}
.transactions .dataTables_empty {
	font-size: 1.2rem;
}
.transactions .paginate_button.previous a {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.transactions .paginate_button.next a {
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

.Iper {
	background: transparent;
	border-radius: 5px;
    color: #000;
	font-weight: 900;
	padding: .5rem;
	position: absolute;
    right: 10%;
    top: 10%;
}

.Tmar::marker {
	color: transparent !important;
}

/*-----------------
  Categories page
--------------------*/

.recent-game-page .recent-game-item {
	margin-bottom: 42px;
}

/*-----------------
  Single blog page
--------------------*/

.single-blog-page .blog-thumb {
	height: 424px;
	padding-top: 24px;
	padding-left: 29px;
	margin-bottom: 40px;
	position: relative;
}

.single-blog-page .blog-thumb .rgi-extra {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 70px;
}

.single-blog-page .blog-thumb .rgi-extra .rgi-star,
.single-blog-page .blog-thumb .rgi-extra .rgi-heart {
	height: 35px;
	width: 35px;
	float: left;
	display: block;
	padding: 6px 8px 0;
}

.single-blog-page .blog-thumb .rgi-extra .rgi-star {
	background: #F5B12E;
}

.single-blog-page .blog-thumb .rgi-extra .rgi-heart {
	background: #ED4F33;
}

.single-blog-page .blog-content h3 {
	margin-bottom: 10px;
}

.single-blog-page .blog-content .meta-comment {
	display: block;
	font-size: 12px;
	color: #737373;
	margin-bottom: 25px;
}

.single-blog-page .blog-content p {
	margin-bottom: 25px;
}

.comment-warp {
	padding-top: 50px;
}

.comment-title {
	margin-bottom: 45px;
}

.comment-list {
	list-style: none;
}

.comment-list li {
	margin-bottom: 40px;
	overflow: hidden;
}

.comment-list .comment .comment-avator {
	width: 63px;
	height: 63px;
	border-radius: 50%;
	float: left;
}

.comment-list .comment .comment-content {
	padding-left: 100px;
}

.comment-list .comment .comment-content h5 {
	font-size: 12px;
	color: #2E2963;
	font-weight: 400;
	margin-bottom: 10px;
}

.comment-list .comment .comment-content h5 span {
	color: #F5B12E;
	padding-left: 18px;
}

.comment-list .comment .comment-content p {
	font-size: 12px;
	margin-bottom: 5px;
}

.comment-list .comment .comment-content .reply {
	font-size: 12px;
	color: #ff1d55;
}

.comment-form-warp {
	padding-top: 30px;
}

.comment-form input[type=text],
.comment-form input[type=email],
.comment-form textarea {
	width: 100%;
	height: 41px;
	border: 1px solid #d6dee7;
	padding-left: 22px;
	padding-right: 45px;
	font-size: 12px;
	margin-bottom: 24px;
}

.comment-form textarea {
	height: 243px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 38px;
}

/*-----------------
  Review page
--------------------*/

.review-page .review-item {
	margin-bottom: 63px;
}

.review-page .review-item .review-text h4 {
	margin-bottom: 10px;
}

.review-dark .review-item .review-text p {
	color: #b5b5b5;
}

.review-section.review-dark {
	background-position: center top;
}

/*-----------------
  Community page
--------------------*/

.community-page .site-pagination {
	padding-top: 62px;
}

.community-warp {
	max-width: 1367px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.28);
}

.community-post-list {
	list-style: none;
}

.community-post-list li {
	padding: 33px 55px 65px;
	margin-bottom: 21px;
	overflow: hidden;
	border: 1px solid #878787;
	background: #1f2225;
}

.community-post-list .community-post .author-avator {
	width: 63px;
	height: 63px;
	border-radius: 50%;
	float: left;
}

.community-post-list .community-post .post-content {
	padding-left: 100px;
}

.community-post-list .community-post .post-content h5 {
	font-size: 16px;
	color: #ED4F33;
	font-weight: 400;
	margin-bottom: 10px;
}

.community-post-list .community-post .post-content h5 span {
	color: #7a7a7a;
	padding-left: 18px;
}

.community-post-list .community-post .post-content p {
	color: #fff;
	margin-bottom: 5px;
}

.community-post-list .community-post .post-content .post-date {
	font-size: 12px;
	color: #F5B12E;
	margin-bottom: 18px;
}

.community-post-list .attachment-file {
	padding-top: 60px;
	max-width: 435px;
}

.community-top-title {
	margin-bottom: 50px;
}

.community-filter {
	margin-bottom: 80px;
}

.community-filter label {
	font-size: 18px;
	color: #1f2225;
	font-weight: 500;
	padding-right: 10px;
}

.community-filter select {
	width: 201px;
	height: 42px;
	font-size: 14px;
	padding: 0 18px;
	color: #1f2225;
	font-weight: 500;
}

/*-----------------
  Contact page
--------------------*/

.map {
	height: 515px;
	background: #ddd;
	margin-bottom: 90px;
}

.contact-info-list {
	padding-top: 55px;
	padding-bottom: 20px;
	list-style: none;
}

.contact-info-list li {
	margin-bottom: 30px;
}

.contact-info-list .cf-left {
	width: 95px;
	float: left;
	font-size: 16px;
	font-weight: 700;
	color: #F5B12E;
}

.contact-info-list .cf-right {
	color: #878787;
	font-size: 15px;
	padding-left: 100px;
}

.social-links a {
	color: #474747;
	font-size: 16px;
	margin-left: 10px;
	margin-right: 20px;
}

/*------------------
  login signing
---------------------*/

.inires {

}

.irbox {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.irbox .wrap-login100 {
	padding: 22.5px 22.5px 18.5px 22.5px;
	width: 250px;
}
.irbox .login100-form-logo {
	font-size: 30px;
	height: 60px;
	width: 60px;
}
.irbox .login100-form-title {
	font-size: 15px;
}
.irbox .wrap-input100 {
	margin-bottom: 18px;
}
.irbox .input100 {
	font-size: 11px;
	height: 22.5px;
}
.irbox .focus-input100::after {
	font-size: 17px;
	top: -5px;
}
.irbox.has-val.input100 + .focus-input100::after {
	top: -14px;
    font-size: 14px;
}
.irbox .login100-form-btn {
	font-size: 11px;
	padding: 0 10px;
	min-width: 60px;
	height: 25px;
	border-radius: 12px;
}

/*------------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
	
	.w-mw1200-60 {
		width: 60% !important;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu {
		margin-right: 90px;
	}
	.hero-slider .owl-dots {
		max-width: 930px;
	}
	.review-section {
		background-position: right 10% top;
	}
	.review-item .review-cover {
		height: 280px;
	}
	.latest-blog .lb-item .lb-thumb {
		width: 55px;
		height: 55px;
	}
	.latest-blog .lb-item .lb-content {
		padding-left: 67px;
	}
	.top-comment .tc-item .tc-content {
		padding-left: 95px;
	}
	.footer-top-bg {
		max-width: 370px;
	}
	.page-info-section .pi-content h2 {
		font-size: 50px;
	}
	.bingo-column > .number {
		font-size: 25px !important;
	}
}

@media only screen and (min-width: 992px) {
	.irbox .wrap-login100 {
		margin-left: 70vw !important;
		margin-right: 0!important;
	}
	.w-lg-75 {
		width: 75% !important;
	}
	.footer-section {
		bottom: 0;
		position: fixed;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-logo {
		max-width: 130px;
	}
	.main-menu {
		margin-right: 25px;
	}
	.main-menu ul li a {
		margin-left: 15px;
	}
	.user-panel {
		padding: 8px 15px;
	}
	.hero-slider .hs-text h2 {
		font-size: 50px;
	}
	.hero-slider .owl-dots {
		max-width: 690px;
	}
	.recent-game-item {
		margin-bottom: 42px;
	}
	.tournament-item .ti-thumb {
		width: 100%;
		height: 230px;
		float: none;
	}
	.tournament-item .ti-text {
		padding-left: 0;
		padding-top: 20px;
	}
	.review-section {
		background-position: left top;
	}
	.review-item {
		margin-bottom: 63px;
	}
	.footer-logo {
		margin-bottom: 50px;
	}
	.latest-blog .lb-item .lb-thumb {
		width: 80px;
		height: 80px;
	}
	.latest-blog .lb-item .lb-content {
		padding-left: 95px;
	}
	.footer-top-bg {
		display: none;
	}
	.wc-img {
		bottom: -45px;
		right: -45px;
		width: 130px;
	}
}

@media only screen and (min-width: 768px) {
	.irbox {
		align-items: unset;
		justify-content: unset;
		height: auto;
	}
	.irbox .wrap-login100 {
		margin-top: 12.5vh;
		margin-left: 50vw;
		margin-right: 10vw;
		
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		overflow: visible;
		padding: 23px 0;
	}
	.header-section .container {
		position: relative;
	}
	.site-logo {
		float: none;
		padding-top: 0;
	}
	.main-menu {
		display: none;
		position: absolute;
		top: calc(100% + 24px);
		left: 0;
		width: 100%;
		background: #2e2963;
		z-index: 999;
	}
	.main-menu ul li {
		display: block;
		border-bottom: 1px solid #4eae60;
	}
	.main-menu ul li a {
		margin-left: 0;
		color: #ffffff;
		padding: 13px 26px;
	}
	.nav-switch {
		color: #fff;
		display: block;
		float: right;
		cursor: pointer;
		font-size: 25px;
	}
	.user-panel {
		display: none;
	}
	.hero-slider .hs-item {
		height: 700px;
	}
	.hero-slider .hs-text h2 {
		font-size: 36px;
	}
	.hero-slider .owl-dots {
		max-width: 510px;
	}
	.ln-title {
		padding-right: 30px;
	}
	.feature-item {
		margin-bottom: 30px;
	}
	.recent-game-item {
		margin-bottom: 42px;
	}
	.review-section {
		background-position: left top;
	}
	.review-item {
		margin-bottom: 63px;
	}
	.footer-logo {
		margin-bottom: 50px;
	}
	.footer-top-bg {
		display: none;
	}
	.footer-section {
		/*padding: 30px 0 20px;*/
		text-align: center;
	}
	.footer-menu li:first-child a {
		margin-left: 0;
	}
	.footer-menu,
	.copyright {
		float: none;
	}
	.copyright {
		padding-top: 15px;
	}
	.community-post-list li {
		padding: 30px 25px 30px;
	}
	.page-info-section .pi-content h2 {
		font-size: 50px;
	}
	.user-panel-min {
		float: none;
	}
	.bsr_img {
		position: relative;
		left: unset;
		top: unset;
	}
	.pmt-hsss {
		margin-top: 0;
	}
	.wc-img {
		bottom: 0px;
		right: -11px;
		width: 180px;
	}
}

@media only screen and (max-width: 767px) {
	#user-panel-ss {
		display: block;
	}
}

/* Medium Mobile :480px. */

@media only screen and (max-width: 576px) {
	.hero-slider .owl-dots {
		padding: 0 15px;
	}
	.feature-section {
		padding-left: 15px;
		padding-right: 15px;
	}
	.community-post-list .community-post .author-avator {
		float: none;
	}
	.community-post-list .community-post .post-content {
		padding-left: 0;
		padding-top: 30px;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.hero-slider .hs-item {
		height: auto;
		padding: 150px 0;
	}
	.ln-title {
		display: none;
	}
	.news-ticker {
		width: 100%;
	}
	.tournament-item .ti-thumb {
		width: 100%;
		height: 230px;
		float: none;
	}
	.tournament-item .ti-text {
		padding-left: 0;
		padding-top: 20px;
	}
	.latest-blog .lb-item .lb-thumb {
		width: 55px;
		height: 55px;
	}
	.latest-blog .lb-item .lb-content {
		padding-left: 67px;
	}
	.top-comment .tc-item .tc-content {
		padding-left: 85px;
	}
	.site-btn {
		padding: 11px 30px;
		min-width: 145px;
	}
	.comment-list .comment .comment-avator {
		float: none;
	}
	.comment-list .comment .comment-content {
		padding-left: 0;
		padding-top: 20px;
	}
	.footer-widget {
		padding: 40px 15px 7px;
	}
	.page-info-section .pi-content h2 {
		font-size: 40px;
	}
}

///

.called {
    float:right;
}

.called > .number {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    margin-left: 10px;
    background: #fff;
    border-radius: 75%;
    width: 56px;
    height: 56px;
    text-align: center;
    position: relative;
    color: #0e0e0e;
}

.called > .number.b {
    border: 8px solid #fc283d;
}

.called > .number.i {
	border: 8px solid #0075fa;
}

.called > .number.n {
    border: 8px solid #feff46;
}

.called > .number.g {
    border: 8px solid #01fdd7;
}

.called > .number.o {
    border: 8px solid #bf07fb;
}

.called > .number:before {
	border: 1px solid;
	border-radius: 50%;
	color: #0e0e0e;
    display:flex;
    font-size:11px;
	height: 38px;
	justify-content: center;
    left:1px;
    position:absolute;
	top: 1px;
    width: 38px;
}

.called > .number.b:before {
    content:"B";
	border-color: #fc283d;
}

.called > .number.i:before {
    content:"I";
    border-color: #0075fa;
}

.called > .number.n:before {
    content:"N";
    border-color: #feff46;
}

.called > .number.g:before {
    content:"G";
    border-color: #01fdd7;
}

.called > .number.o:before {
    content:"O";
    border-color: #bf07fb;
}

.bingo-board {
    background: #42af54;
    border-radius:20px;
	box-shadow: rgb(255 235 235 / 14%) -20px 20px 0px 0px;
	margin: auto;
	max-width: 264px;
    padding: 12px;
    clear:both;
}

.bingo-column {
    float:left;
    width:20%;
}

.bingo-column > .number {
    border: 1px solid #105618 !important;
    cursor:pointer;
    font-size:35px;
	margin: 1px 0 0 1px;
    text-align:center;
	
}

.bingo-column:nth-child(5) > .number {
    border-right:0px;
}

.bingo-column > .number:last-child {
    border-bottom:0px;
}

.bingo-column > .number:nth-child(2){
    background:#42af54;
}

.bingo-column > .number:nth-child(3){
    background:#42af54;
}

.bingo-column > .number:nth-child(4){
    background: #42af54;
}

.bingo-column > .number:nth-child(5){
    background:#42af54;
}

.bingo-column > .number:nth-child(6){
    background:#42af54;
}

.bingo-column > .letter {
    border-bottom:3px solid #600;
    border-right:0px;
    margin-bottom:5px;
}

.bingo-column > .number.daubed {
    color:#4eae60; 
    background: #2e2963;
}

.bingo-letter {
	width: 75%;
}

.number.letter {
	border: none!important;
	height: 65px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display:block;
}


label[for="editarImagen"] {
 font-size: 12px;
 font-weight: 600;
 color: #fff;
 background-color: #4eae60;
 /*display: inline-block;*/
 transition: all .5s;
 cursor: pointer;
 padding: 8px 19px !important;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;
 }

.btnFlotanteWhatss 
{ 
	position: fixed;
	bottom: 30px;
	left: 30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #31e052;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 10;
	}
.btnFlotanteWhatss:hover 
{ 
	opacity: .8;
}
.btnFlotanteWhatss i 
{
	color: #1e0af3;
	text-align: center;
	display: block;
	font-size: 35px;
	line-height: 50px;
}

@media (max-width: 494px) {
	.wc-img {
		display: none;
	}
}